*.swp
*.bak

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

*.pyc
*.db
*.log
*.sql

*.sh
*.wsgi

# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# custom
etc/
static/img
**/*.gvdesign
.env
