$column: 120px;

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1024px;
$desktop-min: 1025px;

$default-timing: 300ms;
$default-transform-animation: transform 300ms;

$axis-point-radius: 30px;

$mobile-frame: 1.8em;
$mobile-frame-adjust: 0.4em;

$z-map: (
  hide:   -9999,
  normal:  1,
  menu:    999,
  alert:   9999,
  loading: 99999,
);

@function z($key) {
  @if map-has-key($z-map, $key) {
    @return map-get($z-map, $key);
  }

  @warn "Unknown `#{$key}` in $z-map.";
  @return null;
}

$space-map: (
  minimal: 0.25em,
  light: 0.75em,
  regular: 1em,
  heavy: 2.5em,
);

@function space($key, $amount:1) {
  @if map-has-key($space-map, $key) {
    @return map-get($space-map, $key) * $amount;
  }

  @warn "Unknown `#{$key}` in $space-map.";
  @return null;
}
